<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Katalog Restoran paling update</title>
</head>
<body>
        
        <nav-bar></nav-bar>
        <hero-element></hero-element>
        <main>
            <section id="mainContent" class="content"></section>
        </main> 
        <footer-element></footer-element>
</body>
</html>
